<div class="prijava-container">
  <img src="../../assets/logoETF.png" class="logoETF" />
  <form class="prijava-form">
    <h2 class="header-prijava">Prijava teme za izradu master rada</h2>
    <div class="labelInput" type="Ime i Prezime studenta:">
      <input type="text" name="imePrezime" />
    </div>
    <div class="labelInput" type="Broj indeksa:">
      <input type="text" name="brojIndeksa" />
    </div>
    <div class="labelInput" type="Izborno područje master rada:">
      <select name="Modul">
        <option value="0">Modul</option>
        <option value="1">Test</option>
        <option value="3">Test1</option>
        <option value="4">Test2</option>
        <option value="5">Test3</option>
        <option value="6">Test4</option>
      </select>
    </div>
    <div class="labelInput" type="Ime i Prezime rukovodioca rada:">
      <input
        type="text"
        name="brojIndeksa"
        placeholder="Automatski ažurirano nakon izbora modula"
      />
    </div>
    <div
      class="labelInput"
      type="Rukovodilac rada je angažovan na izbornom području master studija: "
    >
      <input type="radio" id="da" name="rukovodilacChoice" value="Da" />  
      <label class="label-radio" for="da">Da</label>
        <input type="radio" id="ne" name="rukovodilacChoice" value="Ne" />  
      <label class="label-radio" for="ne">Ne</label><br />
    </div>
    <div
      class="labelInput"
      type="Rokovodilac rada nije angažovan na izbornom području master studija ali je kandidat kod njega položio predmet: "
    >
      <input
        type="text"
        name="rukovodilacPredmet"
        placeholder="Uneti naziv predmeta"
      />
    </div>
    <div
      class="labelInput"
      type="Naslov master rada na srpskom jeziku (napisan ćirilicom):"
    >
      <input type="text" name="naslovRadaSrpski" />
    </div>
    <div class="labelInput" type="Naslov master rada na engleskom jeziku:">
      <input type="text" name="naslovRadaEngleski" />
    </div>
    <div class="labelInput" type="Predlog Komisije za pregled i ocenu:">
      <input type="text" name="predlogKomisije1" placeholder="Mentor" />
      <input type="text" name="predlogKomisije2" placeholder="Drugi član" />
      <input
        type="text"
        name="predlogKomisije3"
        placeholder="Treći član (opciono)"
      />
    </div>

    <button class="btn-send-prijava" (click)="posaljiPrijavu()">
      Pošalji prijavu
    </button>
  </form>
</div>
