.prijava-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.logoETF {
  height: 170px;
}
form {
  width: 800px;
  height: auto;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 22px -10px #000;
  margin-top: 40px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h2 {
  text-align: center;
  margin: 10px 0;
  padding-bottom: 10px;
  width: auto;
  color: #83161a;
}

input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #83161a;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
#da {
  margin: 10px;
  width: auto;
}
#ne {
  margin: 10px;
  width: auto;
}
label {
  font-size: 14px;
  color: #5a5a5a;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  border-radius: 4px;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #83161a;
  color: #fff;
  border: 2px solid #83161a;
}
