body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfbfe;
}

.logoETF {
  width: 170px;
  height: 170px;
}
hr {
  width: 100px;
  background-color: black;
}
p {
  margin: 0px;
}
h1,
h2,
p {
  font-family: arial, sans-serif;
}

.inputStyle {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 5px 5px;
  transition: width 0.4s ease-in-out;
}
.inputStyle:focus {
  width: 100%;
}
.loginButton {
  width: 180px;
  height: 40px;
  background-color: #83161a;
  border-radius: 4px;
  border: 1px solid #83161a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
}
.loginButton:hover {
  background-color: #922b2f;
}
