<div class="login-container">
  <img src="../../assets/logoETF.png" class="logoETF" />

  <h1 class="main-header"><i>Prijava teme za izradu master rada</i></h1>
  <hr />

  <h2 class="second-header">Prijavite se</h2>
  <form class="login-form">
    <div class="loginFieldLabel">Korisničko ime:</div>
    <br />
    <input
      type="text"
      name="korisnickoIme"
      [(ngModel)]="korisnickoIme"
      class="inputStyle"
    />
    <br /><br />
    <div class="loginFieldLabel">Lozinka:</div>
    <br />
    <input
      type="password"
      name="lozinka"
      [(ngModel)]="lozinka"
      class="inputStyle"
    />
    <br /><br />
    <input
      type="button"
      name="login"
      value="Uloguj se"
      (click)="login()"
      class="loginButton"
    />
  </form>
</div>
