.biografija-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #83161a;
}
input:focus {
  border-bottom: 2px solid #78788c;
}

.biografija {
  border: 2px solid #83161a;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
}

.btn-send-biografija {
  width: 120px;
  float: right;
  padding: 8px 12px;
  margin: 40px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  border-radius: 4px;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-send-biografija:hover {
  background: #83161a;
  color: #fff;
  border: 2px solid #83161a;
}
.header-komisija {
  margin-top: 50px;
}
