<div class="obrazlozenje-container">
  <img src="../../assets/logoETF.png" class="logoETF" />
  <form class="obrazlozenje-form general-form">
    <h2 class="header-obrazlozenje header">Obrazloženje teme</h2>
    <div class="labelInput" type="Kandidat:">
      <input type="text" name="imePrezime" [(ngModel)]="prijava.ImePrezime" />
    </div>
    <div class="labelInput" type="Broj indeksa:">
      <input
        type="text"
        name="brojIndeksaObrazlozenje"
        [(ngModel)]="prijava.Indeks"
      />
    </div>
    <div class="labelInput" type="Modul:">
      <select name="modulObrazlozenje" [(ngModel)]="prijava.Modul">
        <option value="Modul">Modul</option>
        <option value="Test">Test</option>
        <option value="Test1">Test1</option>
        <option value="Test2">Test2</option>
        <option value="Test3">Test3</option>
        <option value="Test4">Test4</option>
      </select>
    </div>
    <h2 class="header-komisija header">
      Komisiji za studije ll stepena akademskih studija
    </h2>

    <div class="labelInput" type="Predmet:">
      <input type="text" name="predmet" [(ngModel)]="prijava.Predmet" />
    </div>
    <div class="labelInput" type="Oblast master rada:">
      <input
        type="text"
        name="oblastRada"
        placeholder="Navedena tema master rada pripada oblasti..."
        [(ngModel)]="prijava.Oblast"
      />
    </div>
    <div class="labelInput" type="Predmet, cilj i metode master rada:">
      <input type="text" name="cilj" [(ngModel)]="prijava.Cilj" />
    </div>
    <div class="labelInput" type="Sadržaj i očekivani rezultati master rada:">
      <input
        type="text"
        name="ocekivaniRezultat"
        [(ngModel)]="prijava.OcekivaniRezultat"
      />
    </div>
    <div class="labelInput" type="Komentar za prijavu:">
      <textarea
        class="komentar"
        name="komentar"
        rows="10"
        cols="50"
        placeholder="Napišite komentar studentu za poslatu prijavu..."
      ></textarea>
    </div>
    <input
      type="button"
      class="btn-send-obrazac btn"
      (click)="posaljiKomentar()"
      value="Posalji komentar"
    />
  </form>
</div>
